.progress_bar_enhanced_container {
    position: relative;
    border: 1px solid gray;
    font-size: 11px;
    height: 17px;
}
.progress_bar_enhanced_bar{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #afafaf;
    height: 100%;
}
.progress_bar_enhanced_value {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    height: 100%;
}